<h1>Students#show</h1>

<h2> First Name:  <%= @student.first_name %></h2> <br><br><br>

<h2> Last Name: <%= @student.last_name %></h2>



<%= link_to "Edit Student Info.", students_edit_path(@student) %>
