<h1>School Class Edit Form</h1>

<%= form_for (@school_class) do |sc| %>

<label>Class Title:</label><br>
<%= sc.text_field :title %>

<label>Room Number:</label>
<%= sc.number_field :room_number %>

<%= sc.submit %>

<%end%>
