<h1>Class:</h1>

<h1><%= @school_class.title %></h1>
<h1><%= @school_class.room_number %></h1>
<h4><%= link_to "edit class", edit_school_class_path(@school_class) %></h4>
<h4><%= link_to "view all classes", school_classes_path%></h4>
